<h1>Hi, <%= current_user.name %></h1>

<form action="/bright_ideas" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="text" name="bright_idea[idea]" size=35 value="Post something witty here...">
  <input type="submit" name="new_idea" value="Idea!">
</form>

<% @bright_ideas.each do |b| %>
  <p><a href="/users/<%=b.user.id%>"><%= b.user.alias %></a> says: <input type="text" size=auto value="<%= b.idea %>"</p>
  <form action="/likes" method="post">
     <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
     <input type="hidden" name="like[bright_idea_id]" value = "<%= b.id %>">
     <input type="submit" name="Like" value="Like">
  </form>
    <p><a href="/bright_ideas/<%=b.id%>"> <%=b.liking_users.count%> people</a> like this </p>
    <% if current_user == b.user %>
      <form action = "/bright_ideas/<%=b.id%>" method = "post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <input type = 'submit' id='Delete Secret' value = 'X'>
      </form>
    <% end %>
<% end %>
